.demo-only{
    max-width: 720px;
    background: #fff;
    margin: 20px auto;
    padding: 20px;
    
}
.demo-only h1{
    font-size: 22px;
    text-align: center;
}
.demo-only p{
    text-align: center;
}
a.tutorial-link {
    background: #6a4aed;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 18px;
    text-decoration: none;
    text-transform: capitalize;
}
a.tutorial-link:hover{
	background:#000;
	color:#fff;
}